@import "../../scss/theme.scss";
@import "../../scss/mixins.scss";

.dropdown {
  @include flex(column);
  width: 100%;
  box-sizing: border-box;
  position: relative;
  background-color: $lightgrey;
  padding: 0px 0px;
  margin: 5px 0 0 0;
  line-height: 62px;
  cursor: pointer;
  font-weight: 500;
  user-select: none;
  border-radius: 8px;
  &-list {
    @include flex(column);
    visibility: hidden;
    position: absolute;
    top: 62px;
    left: 0px;
    width: 100%;
    box-sizing: border-box;
    background-color: $lightgrey;
    box-shadow: $shadow-dropdown;
    z-index: 2;
    opacity: 0;
    transition: visibility 0.1s, opacity 0.1s ease-in;
    font-weight: 500;
  }

  &-list-open {
    @include flex(column);
    position: absolute;
    top: 62px;
    left: 0px;
    width: 100%;
    max-height: 50vh;
    box-sizing: border-box;
    background-color: $lightgrey;
    box-shadow: $shadow-dropdown;
    border-radius: 8px;
    z-index: 2;
    opacity: 1;
    transition: visibility 0.1s, opacity 0.1s ease-in;
    overflow: auto;
    font-weight: 500;
  }

  &-item {
    @include flex(row,center);
    padding: 0px 15px;
    line-height: 62px;
    cursor: pointer;
    -webkit-transition: background-color 0.25s ease-out;
    transition: background-color 0.25s ease-out;
    &-image {
      width: 32px;
      height: 32px;
      margin-right: 15px
    }
  }

  &-item:hover {
    @include flex(row,center);
    padding: 0px 15px;
    line-height: 62px;
    cursor: pointer;
    background-color: $lightgrey2;
    -webkit-transition: background-color 0.01s ease-in;
    transition: background-color 0.01s ease-in;
  }

  &-label {
    @include flex(row,center,space-between);
    padding: 0px 15px;
    &-left {
      pointer-events: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &-arrow-down {
    pointer-events: none;
    width: 15px;
    height: 10px;
    -webkit-transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
  }

  &-arrow-right {
    pointer-events: none;
    width: 15px;
    height: 10px;
    transform: rotate(180deg);
    -webkit-transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
  }

  &-search-hide {
    visibility: hidden;
    opacity: 0;
    height: 45px;
    transition: visibility 0.1s, opacity 0.1s ease-in;
  }

  &-search {
    opacity: 1;
    transition: visibility 0.1s, opacity 0.1s ease-in;
    position: relative;
    height: 45px;
    cursor: text;
    &-input {
      position: absolute;
      margin: 0;
      font-weight: 500;
      padding: 0px 15px 0px 62px;
      width: 100%;
      height: inherit;
      border-radius: 0px;
      border: none;
      font-size: 16px;
      background-color: $lightgrey;
      box-sizing: border-box;
    }
    &-input::placeholder {
      font-weight: 500;
    }
    &-input:focus {
      outline: none;
    }
    &-icon {
      position: absolute;
      width: 15px;
      top: 16px;
      left: 25px;
      z-index: 1;
    }
  }
}


